package $package {

	/**
 	 * 
 	 * $comment
 	 * @author MessageGenerator
	 *
	 */
	public class $className {

#foreach( $prop in $propList )
#set($type = $prop.type)
#if ($type.contains("byte") || $type.contains("short"))
#set($type = "int")
#elseif ($type.contains("long") || $type.contains("double") || $type.contains("float") )
#set($type = "Number")
#elseif ($type.contains("boolean"))
#set($type = "Boolean")
#end
		/**
		 * $prop.comment
		 */
#if($prop.type == "String")
		public static const ${prop.id}:$type = "${prop.value}";
#else
		public static const ${prop.id}:$type = ${prop.value};
#end		
#end

	}
}