package db.ibatis.bean;

import db.ibatis.GameObject;

public class $clazzName extends GameObject{

#foreach( $prop in $propList )
	private $prop.clazz $prop.propName;
#end

#foreach( $prop in $propList )
	public ${prop.clazz} get${prop.methodName}() {
		return ${prop.propName};
	}
	public void set${prop.methodName}($prop.clazz $prop.propName) {
		this.$prop.propName = $prop.propName;
	}
#end

	@Override
	public String getPkString() {
	return this.getClass().getSimpleName()
		#foreach($pk in $primaryKeys)
		+"_"+${pk.propName}
		#end
		;
	} 
}