package com.benniu.game.message;

public class ModuleName {

	/**
	 * common
	 */
	public static final String COMMON = "common";

#foreach( $data in $datas )
	/**
	 * $data.desc
	 */
	public static final String $data.module="${data.moduleValue}";
#end
	
}

 